################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CoinBot/bin/Debug
/.vs/CoinBot/v15
/CoinBot/obj/Debug
/Bittrex/bin/Debug
/Bittrex/obj/Debug
